# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
env/
.venv/

# IDE files
.vscode/
.idea/
.gemini/

# Project output logs
logs/
outputs/
*.log

# Mac specific
.DS_Store
